/* ---------------------------------------- */
/* CSS reset */
/* ---------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
	line-height: 1.7;
}

/* Set core body defaults */
/* optimizeSpeed was the original author's choice, but my sites rarely have so much text content on a single page that performance would be affected. */
body {
	min-height: 100%;
	scroll-behavior: smooth;
	/* text-rendering: optimizeSpeed; */
	text-rendering: optimizeLegibility;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure,
figcaption,
blockquote,
dl {
	margin-top: 1em;
}

/* Remove list styles and padding on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

/* Anchors get default styles */
a {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

svg {
	fill: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-play-state: paused !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}
